[user]
	name = John Brewer
	email = jbrewer@jera.com

[core]
	excludesfile = /Users/jbrewer/.gitignore_global
	pager = less -R
	autocrlf = input
[credential]
	helper = osxkeychain
[difftool]
	prompt = false
	guiDefault = true
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff]
	guitool = opendiff
